/* CSS Document - Fabricio Oliveira */

body{
    background: transparent;
}

/* btn */
.btn{
    padding: 10px 20px;
    border-radius: 5px;
}

/* btn-dourado */
.btn-dourado{
    background-color: #ff9100;
    color: black;
    font-size: 16px;
    font-weight: 100;
}